@tailwind base;
@tailwind components;
@tailwind utilities;

header {}

@media (max-width: 1024px) {
    .clipPath-closed {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }

    .clipPath-opened {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@media (min-width: 1024px) {
    
    .product{
        width: 48%;
    }
}

@media (max-width: 540px) {
    .product{
        font-size: 10px;
    }
}